.pi-grafana {
    background: url("../icons/grafana-icon.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.pi-jenkins {
    background: url("../icons/jenkins-icon.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.pi-gitlab {
    background: url("../icons/gitlab-icon.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.pi-confluence {
    background: url("../icons/confluence-icon.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.pi-kubenav {
    background: url("../icons/kubenav-icon.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.pi-sonar {
    background: url("../icons/sonar-icon.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.pi-external-link-custom {
    background: url("../icons/external-link.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}