.pi-grafana {
    background: url("../grafana-icon.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.pi-jenkins {
    background: url("../jenkins-icon.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.pi-gitlab {
    background: url("../gitlab-icon.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.pi-confluence {
    background: url("../confluence-icon.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.pi-external-link-custom {
    background: url("../external-link.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    fill: white;
    height: 25px;
    width: 25px;
}